HELP.md

.env*
# Build output
target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
!mvnw
!mvnw.cmd

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Java files
*.class

# Logs
*.log
logs/

# Uploads
uploads/